{% extends 'base_layout.html' %}

{% block home %}
    <!-- home section start -->

    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
<div class="text-2">Jenjie Dela Peña</div>
<div class="text-3">And I'm a <span class="typing"></span></div>

<a href="#">Students</a>
            </div>
<a href="#">Teachers</a>
            </div>
</div>



</section>

   
{% endblock %}


    
        

