{% extends 'base_layout.html' %}

{% block content%}
    <h1>Answer the Quizes for student only</h1><br><br>
    <div class="tasks"><br><br>
    {% for quizmo in quizes %}
        <div class="taskmo">
            <h3><a style="color: white;" href="{% url 'articles:quizdetail' title=quizmo.title %}">{{ quizmo.title }}</a></h3>
            <br>
            <p class="student">Teacher {{ quizmo.teacher.username }}</p>
        </div>
    {% endfor %}
    </div>

<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
