{% extends 'base_layout.html' %}

{% block content %}
    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
<div class="text-2">Jenjie Dela Peña</div>
<div class="text-3">And I'm a <span class="typing">Progrramer</span></div><br><br><br><br>
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;<a href="{% url 'articles:student' %}">Students</a>    &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
<a href="{% url 'articles:teacher' %}">Teachers</a>

            </div>

        
</div>



</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   
{% endblock %}
        

